<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>

    <h1 style="color: rgb(18, 178, 61)"><a href="{% url 'home'%}">Home</a></h1>


    <li>
        <a href="{% url 'detail' service.pk %}"> {{ service.title }} </a>
      </li>
      <li>Description: {{ service.description }}</li>
      <li>Price: {{ service.price }}</li>
      <li>Duration: {{ service.duration }}</li>
      <li>Created: {{ service.created_at }}</li>
      <li>Updated: {{ service.updated_at }}</li>
      <li>Is_available: {{ service.is_available }}</li>
      <li>Category: {{ service.category }}</li>
      <li>Mechanic: {{ service.mechanic }}</li>
    
</body>
</html>